bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

keys/

*.db*
*.css*
/FinanceManager.PresentationShared/.sass-cache/*
/FinanceManager.PresentationShared/wwwroot/css/*
/FinanceManager.PresentationShared/Login/Login.razor.css
