@use "functions" as funcs;

$primary-color: funcs.color-theme("primary");

.modal {
  background-color: rgba(0, 0, 0, 0.3);
    
  &-content {
    border-color: f$primary-color;
  }
  
  &-header {
    border-bottom-color: $primary-color;
  }
  
  &-title,
  &-close {
    color: $primary-color;
  }
}