@use "variables" as vars;

.language-selector {
  &-toggle::after {
    color: white;
  }
  
  &-menu {
    min-width: fit-content;
    right: 0;
    background-color: darken(vars.$primary, 2%);
  }
}
