@use "functions" as funcs;

.section {
  background-color: rgba(0, 0, 0, 0.2);
  
  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    overflow: hidden;
    
    &.opened {
      grid-template-rows: 1fr;
      
      .content {
        display: block;
      }
    }
    
    .content {
      display: none;
      min-height: 0;
      border-color: funcs.color-theme('primary') !important;
    }
  }
}