@using FinanceManager.Web.Shared.Components
@using FinanceManager.Web.Shared.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Strings
@inherits BaseLayout

<AppHeader></AppHeader>

<main>
    @Body
</main>

<footer></footer>